In [30]:
#Q22-01 Output
["Banana","Apple","Strawberry"]

['Banana', 'Apple', 'Strawberry']

In [31]:
#Q22-02 Output
[10, 30, 50, 70, 90]

[10, 30, 50, 70, 90]

In [32]:
#Q23-02 Output
[60, 70, 80, 90, 100]

[60, 70, 80, 90, 100]

In [33]:
#Q24-01 What is the algorithm of the find_two() function below do? Give me output also

#The function find_two(nums) is designed to find:
#    The index of the maximum value in nums, stored in x
#    The index of the minimum value in nums, stored in y

# Output
# 59 11

In [34]:
#Q24-02 How many comparisons should the find_two() function implemented in the previous question.
#Ans: In the previous question, the find_two() function implemented 14 comparisons.

In [35]:
#Q25-01 Output when maximum is 100 and guessing number is 51.
# Enter the number of maximum: 100
# Enter you guessing number:  51
# Your number is 51.
# Total 6 times are searched.

In [36]:
# #Q25-02 Output when maximum is 100 and guessing number is 25.
# Enter the number of maximum:  100
# Enter you guessing number:  25
# Your number is 25.
# Total 2 times are searched.

In [37]:
# Q26-01 Using the hash function of the Hashtable class, calculate the key and hashkey of "Alice in Worderland" as follows. 
#(The key value is 1763.)

# Output
# 1763 3

In [38]:
#Q26-02
#If the new bookshelf has 10 compartments. use the following code to find out which book is in each compartment

#Output
# 4 The Little Prince
# 9 The Old Man and the Sea
# 8 The Little Mermaid
# 7 Beauty and the Beast
# 3 The Last Leaf
# 5 Alice in Wonderland

In [42]:
# #Q26-02

#Output
# 0 []
# 1 []
# 2 []
# 3 ["The Last Leaf", "Alice in Wonderland"]
# 4 ["The Little Prince"]
# 5 [] 
# 6 [] 
# 7 ["Beauty and the Beast"] 
# 8 ["The Little Mermaid"]
# 9 ["The Old Man and the Sea"]