Name: Ankit Pokhrel <br>
Roll No: 079bct016

In [3]:
# Q. 01-01
print("The sum of 1 to 5 is:",1+2+3+4+5)

The sum of 1 to 5 is: 15

#Q. 02-01 
print("Enter an interger") 
n = input()
if n%2 == 0:
    print "n is even"
else:
    print "n is odd"

In [11]:
#Q. 03-01

print("*" * 41)
print("# " * 21)

*****************************************
# # # # # # # # # # # # # # # # # # # # #

In [12]:
#Q. 04-01
name = "Ankit Pokhrel"
address = "Kathmandu"
print(name)
print(address)

Ankit Pokhrel
Kathmandu

#Q. 05-01 (Output)

0
1
False
True

In [19]:
#Q. 06-01
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
if num1<num2:
    print(num1,num2)
elif num2<num1:
    print(num2,num1)
else:
    print("Two integer cannot be the same number")

Enter first number 3
Enter second number 2

2 3

In [26]:
#Q. 07-01
adult = int(input("Are you an adult? (if you are an adult,0 if you are minor)"))
married = int(input("Are you married? (if you are married,0 if you are single)"))
if adult and married:
    print("You are an adult who is married.")
elif adult and (not married):
    print("You are an adult who is single.")
elif (not adult) and married:
    print("You are a minor who is married.")
else:
     print("You are a minor who is single.")

Are you an adult? (if you are an adult,0 if you are minor) 1
Are you married? (if you are married,0 if you are single) 0

You are an adult who is single.

In [39]:
#Q. 08-01

for num in range(2,13):
    count = 0
    for i in range(1,num+1):
        if(num%i==0):
            count = count+1
    if (count==2):
        print(num,": Prime Number")
    else:
        print(num,": Composite Number")

2 : Prime Number
3 : Prime Number
4 : Composite Number
5 : Prime Number
6 : Composite Number
7 : Prime Number
8 : Composite Number
9 : Composite Number
10 : Composite Number
11 : Prime Number
12 : Composite Number

In [46]:
#Q. 09-01

for i in range(100, 1000):
    ones = int(str(i)[2]) 
    tens = int(str(i)[1]) 
    hund = int(str(i)[0])  
    if ones**3 + tens**3 + hund**3 == i: 
        print(i, "is an Armstrong number")

153 is an Armstrong number
370 is an Armstrong number
371 is an Armstrong number
407 is an Armstrong number