In [1]:
#Q.1
my_dict ={
    
    'name': 'Alice',
    'age': 25,
    'city': 'New York'
}
my_dict

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [2]:
#Q.2
person = {'name': 'Bob', 'age': 30}
person['name']

'Bob'

In [6]:
#Q.3
fruit_prices = {'apple': 2, 'banana': 1, 'cherry': 3}
for key ,value in fruit_prices.items():
    print(f"Key:{key} & Value:{value}")

Key:apple & Value:2
Key:banana & Value:1
Key:cherry & Value:3

In [8]:
#Q.4
person = {'name': 'Bob', 'age': 30}
person['age'] = 40
person

{'name': 'Bob', 'age': 40}

In [13]:
#Q.5
person_info = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York'
}

key_to_check = 'city'
if key_to_check in person_info:
    print(f"The key '{key_to_check}' is present in the Dictionary.")
else:
    print(f"The key '{key_to_check}' is not present in the Dictionary.")

The key 'city' is present in the Dictionary.

In [15]:
#Q.6
nested_dict = {'student': {'name': 'Alice', 'marks': {'math': 90, 'science': 85}}}
science = nested_dict['student']['marks']['science']
print(f"The marks in science is: {science}")

The marks in science is: 85

In [16]:
#Q.7
dict1 = {'a': 1, 'b': 2} 
dict2 = {'b': 3, 'c': 4}
dict1.update(dict2)
dict1

{'a': 1, 'b': 3, 'c': 4}

In [17]:
#Q.8
dict_list =[]
dict1 = {'name': "Kisi",'marks':{'science':95,'math': 97,'English':90}}
dict2 = {'name':'Pandey','marks':{'science':98,'math':75,'English':84}}
dict3 = {'name':'Pokhrel','marks':{'science':99,'math':92,'English':97}}
dict_list.append(dict1)
dict_list.append(dict2)
dict_list.append(dict3)
dict_list

[{'name': 'Kisi', 'marks': {'science': 95, 'math': 97, 'English': 90}},
 {'name': 'Pandey', 'marks': {'science': 98, 'math': 75, 'English': 84}},
 {'name': 'Pokhrel', 'marks': {'science': 99, 'math': 92, 'English': 97}}]

In [36]:
#Q.9
data = {
'class': 'Grade 5',
'students': [
{'name': 'Alice', 'subjects': {'math': 85, 'science': 92}},
{'name': 'Bob', 'subjects': {'math': 78, 'science': 88}},
{'name': 'Charlie', 'subjects': {'math': 95, 'science': 89}}
],
'teacher': {'name': 'Mrs. Smith', 'subject': 'science'}
}

print(f"Teacher's name is {data['teacher']['name']}.")

for student in data['students']:
    if(student['name'] == 'Charlie'):
        print(f"The math score of the student named 'Charlie' is {student['subjects']['math']}.")
        
print("Students are : ",end="")
for student in data['students']:
    print(f"{student['name']}",end =  ", ")
print()

avg = 0
total = 0

for student in data['students']: 
    total = 0
    for marks in student['subjects'].values():
        total += marks
    avg= total /2
    print(f"Average marks of {student['name']} is {avg}.")

Teacher's name is Mrs. Smith.
The math score of the student named 'Charlie' is 95.
Students are : Alice, Bob, Charlie,
Average marks of Alice is 88.5.
Average marks of Bob is 83.0.
Average marks of Charlie is 92.0.