In [10]:
#Exercise_4

In [11]:
#Q1
emp_list = list()
emp_tuple = tuple()
emp_dict = dict()
emp_set = set()
sing_tuple = (1,)
#sing_tuple = 1,

In [12]:
print(type(emp_dict))
print(type(emp_tuple))
print(type(emp_set))
print(type(emp_list))

<class 'dict'>
<class 'tuple'>
<class 'set'>
<class 'list'>

In [13]:
type(sing_tuple)

tuple

In [14]:
#Q2
my_list = [1,2,3,4,5]
my_set ={4,5,6,7}
my_tuple =(8,9,10,11)
list2tup = tuple(my_list)
list2set = set(my_list)
tup2list = list(my_tuple)
tup2set= set(my_tuple)
set2list = list(my_set)
set2tuple = tuple(my_set)

In [15]:
type(list2tup),type(list2set),type(tup2list),type(tup2set),type(set2list),type(set2tuple)

(tuple, set, list, set, list, tuple)

In [16]:
#Q3
test_data = [(1,2), (2,3), (3,4)]
converted_data = dict(test_data)
print(converted_data)
type(converted_data)
#dict(["ab","bc","cd"])

{1: 2, 2: 3, 3: 4}

dict

In [17]:
#Q4
my_list = [1, 2, 3, 1, 5]
seen = set() 
for item in my_list:
    if item in seen:
        print(item)
        break
    seen.add(item)

1

In [20]:
#Q5
my_list = [1, 2, 3, 1, 2, 3, 1, 2, 1]
count = {}
for element in my_list:
    if element in count:
        count[element] += 1
    else:
        count[element] = 1
print(count)

{1: 4, 2: 3, 3: 2}

In [21]:
#Q6
def no_duplicate(new_list):
    new_set = set(new_list)
    return list(new_set)
    
datalist = [1,1,1,2,2,3,4,5,6,4,4,3,2]

print(no_duplicate(datalist))

[1, 2, 3, 4, 5, 6]

In [25]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [31]:
#Q7
new_set = {"apple","banana","cherry"}

#how can you check if 'banana' is in the set?
if "banana" in new_set:
    print("banana is in the set")
else:
    print("banana is not in the set")
    
#What about "berry"?
if "berry" in new_set:
    print("berry is in the set")
else:
    print("berry is not in the set")
    
#add the element 'orange' to the set
new_set.add("orange")

#remove 'banana' from the set.
new_set.remove("banana")
new_set

banana is in the set
berry is not in the set

{'apple', 'cherry', 'orange'}

In [44]:
#Q8
set1 = {1, 2, 3, 4}
set2 = {2, 3, 5}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1 - set2)
print("Is subset?",set1.issubset(set2))
print("Is superset?",set2.issuperset(set1))

{1, 2, 3, 4, 5}
{2, 3}
{1, 4}
Is subset? False
Is superset? False

In [45]:
#Q9
set1 = {1, 2} 
set2 = {1, 2, 3, 4}
print("Is subset?",set1.issubset(set2))
print("Is superset?",set2.issuperset(set1))

Is subset? True
Is superset? True

In [17]:
import json

In [18]:
#Q10
data = {
 "company": {
 "name": "TechCorp",
 "employees": [
 {
 "id": 1,
 "name": "Alice",
 "department": "Development",
 "skills": ["Python", "Django", "React"],
 "salary": 75000
 },
 {
 "id": 2,
 "name": "Bob",
 "department": "Development",
 "skills": ["Java", "Spring", "Angular"],
 "salary": 70000
 },
 {
 "id": 3,
 "name": "Charlie",
 "department": "Marketing",
 "skills": ["SEO", "Content Writing"],
 "salary": 60000
 }
 ],
 "location": {
 "city": "New York",
 "country": "USA"
 },
 "products": [
 {"id": "P1", "name": "ProductA", "price": 120.50},
 {"id": "P2", "name": "ProductB", "price": 80.75}
 ]
 }
 }
file = open("data.json","w")
json.dump(data,file)
file.close()

In [49]:
#QN11 (a)
file = open("data.json","r")
content = json.load(file)
print(content)
file.close()

{'company': {'name': 'TechCorp', 'employees': [{'id': 1, 'name': 'Alice', 'department': 'Development', 'skills': ['Python', 'Django', 'React'], 'salary': 75000}, {'id': 2, 'name': 'Bob', 'department': 'Development', 'skills': ['Java', 'Spring', 'Angular'], 'salary': 70000}, {'id': 3, 'name': 'Charlie', 'department': 'Marketing', 'skills': ['SEO', 'Content Writing'], 'salary': 60000}], 'location': {'city': 'New York', 'country': 'USA'}, 'products': [{'id': 'P1', 'name': 'ProductA', 'price': 120.5}, {'id': 'P2', 'name': 'ProductB', 'price': 80.75}]}, 'last_updated': '2025-01-12 13:45:42'}

dict

In [51]:
#QN11 (b)
from datetime import datetime
content['last_updated'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
file = open("data.json", "w")
json.dump(content, file)
file.close()

In [53]:
print("Updated data:", json.dumps(content, indent=4))

Updated data: {
    "company": {
        "name": "TechCorp",
        "employees": [
            {
                "id": 1,
                "name": "Alice",
                "department": "Development",
                "skills": [
                    "Python",
                    "Django",
                    "React"
                ],
                "salary": 75000
            },
            {
                "id": 2,
                "name": "Bob",
                "department": "Development",
                "skills": [
                    "Java",
                    "Spring",
                    "Angular"
                ],
                "salary": 70000
            },
            {
                "id": 3,
                "name": "Charlie",
                "department": "Marketing",
                "skills": [
                    "SEO",
                    "Content Writing"
                ],
                "salary": 60000
            }
        ],
        "location": {
            "city": "New York",
            "country": "USA"
        },
        "products": [
            {
                "id": "P1",
                "name": "ProductA",
                "price": 120.5
            },
            {
                "id": "P2",
                "name": "ProductB",
                "price": 80.75
            }
        ]
    },
    "last_updated": "2025-01-12 14:21:18"
}

In [4]:
#Q12
new_list = [i*i for i in range(1,11)]
new_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
#Q13
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_num = [num for num in numbers if num%2==0]
print(even_num)

[2, 4, 6, 8, 10]

In [7]:
#Q14
new_dict = {num:num**3 for num in range(1,6)}
new_dict

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [97]:
# #Q15
# # Use a set comprehension to create a set of unique vowels from the string sentence =
# # "comprehensions are powerful".
# set1 = set()
# string1 = "comprehensions are powerful"
# for characters in string1:
#     if ("a" or "e" or "i" or "o" or "u" == characters):
#         set1.add(characters)   
# set1

string1 = "comprehensions are powerful"
vowels = {"a", "e", "i", "o", "u"}
set1 = {char for char in string1 if char in vowels} 
set1

{'a', 'e', 'i', 'o', 'u'}

In [28]:
#QN16
students = {'Alice': 85, 'Bob': 78, 'Charlie': 92, 'David': 63}
toppers = {name: score for name, score in students.items() if score > 80}
toppers

{'Alice': 85, 'Charlie': 92}

In [38]:
#QN17
list1 = [1, 2, 3] 
list2 = [4, 5, 6]
new_tup = [(list1[i],list2[i]) for i in range(len(list1))]
new_tup

[(1, 4), (2, 5), (3, 6)]