In [20]:
#Q.1
def square_list(num):
    return [num ** 2 for num in num]
square_list([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

In [22]:
#Q.2
def get_employee_name(employee_dict, employee_id):
    if employee_id not in employee_dict.keys():
        print("id not found")
        return 
    name = employee_dict[employee_id]
    return name    
get_employee_name({1: "Rahul", 2:"Simran"}, 1)

'Rahul'

In [26]:
#Q.3
def filer_high_scores(scores):
    return {name:score for name, score in scores.items() if score>80}
filer_high_scores({'Prithivi Narayan': 99, 'Jhanga Bhadhur':40 ,'Chandra Samsher':99})

{'Prithivi Narayan': 99, 'Chandra Samsher': 99}

In [29]:
#Q.4
def common_elements(set1, set2):
    return set1.intersection(set2)
common_elements({0,1,4,9,16}, {0,1, 8, 27, 64})

{0, 1}

In [33]:
#Q.5
def lcm(num1, num2):
    if num1 > num2:
        great = num1
    else:
        great = num2
    while True:
        if great % num1 == 0 and great % num2 == 0:
            return great
        great += 1
lcm(8, 12)

24

In [38]:
#Q.6
def prime(num):
    if num<=1:
        return False
    for i in range(2,round(num/2)+1):
        if num%i==0:
            return False
    return True
if prime(37):
    print("Prime Number")
else:
    print("Composite Number")

Prime Number

In [39]:
#Q.7 (Implementing Sieve of Eratosthenes algorithm.)
def find_primes(limit):
    is_prime = [True] * (limit + 1)
    for number in range(2, limit + 1):
        if is_prime[number]:
            for multiple in range(number * 2, limit + 1, number):
                is_prime[multiple] = False
    return [num for num in range(2, limit + 1) if is_prime[num]]
print(find_primes(50))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [41]:
#Q.8
def my_sum(*args):
    sum = 0
    for i in args:
        sum+=i
    return sum
my_sum(1, 2, 3, 4, 5, 6)

21

In [42]:
response = requests.get("https://db5f-103-5-150-130.ngrok-free.app/weather")
data = response.json()
print("The temperature of" , data["name"],"is",data['main']['temp'],"°C.")

NameError: name 'requests' is not defined

##The API is not working so this was output when I last ran this code. 

The temperature of Kathmandu is 6.12 °C.